# Ignorar la carpeta completa 'carpeta_no_subir'
.venv/
.sql/
.devcontainer/
__pycache__/
build/
dist/


# Ignorar archivos específicos en una carpeta
*.xlsx
*.csv
bk*.py
*.xml
.streamlit/secrets.toml
launch.py
launch.spec


# Ignorar todos los archivos con una extensión específica
*.log
